<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
  
    <div class="ui-g-12 ui-fluid">
      <label for="descricao">Descrição</label>
      <input pInputText id="descricao" type="text" value=""/>
    </div>
  
    <div class="ui-g-12">
      <label for="vencimentoDe" class="label-inline">Vencimento</label>
      <input pInputText type="text" id="vencimentoDe" class="input-date" value=""/>
  
      <label for="vencimentoAte">até</label>
      <input pInputText type="text" id="vencimentoAte" class="input-date" value="">
    </div>
  
    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-12">
        <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
      </div>
    
    <div class="ui-g-12">
        <a pButton label="Novo Lançamento"></a>
    </div>
  </div>
</div>
  