body {
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
}

label {
    font-weight: bold;
}

.label-inline {
    display: block;
}

.input-date {
    width: 95px;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0px auto;
    }
}