<div class="container">
    <form>
        <div class="ui-g">
            <h1>Nova Pessoa</h1>

            <div class="ui-g-12 ui-fluid">
                    <label>Nome</label>
                <input pInputText type="text" name="nome">
            </div>
            
            <div class="ui-md-9 ui-g-12 ui-fluid">
                <label>Logradouro</label>
                <input pInputText type="text" name="logradouro">
            </div>

            <div class="ui-md-3 ui-g-12 ui-fluid">
                <label>Número</label>
                <input pInputText type="text" name="numero">
            </div>

            <div class="ui-md-4 ui-g-12 ui-fluid">
                <label>Complemento</label>
                <input pInputText type="text" name="complemento">
            </div>

            <div class="ui-md-4 ui-g-12 ui-fluid">
                <label>Bairro</label>
                <input pInputText type="text" name="bairro">
            </div>

            <div class="ui-md-4 ui-g-12 ui-fluid">
                <label>CEP</label>
                <p-inputMask mask="99.999-999"></p-inputMask>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Cidade</label>
                <input pInputText type="text" name="cidade">
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Estado</label>
                <input pInputText type="text" name="estado">
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar"></button>
                <button pButton type="button" label="Novo" class="ui-button-success"></button>
                <a href="javascript:;">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>